/Manifest.toml
# /docs/Manifest.toml
/docs/build/
benchmark/data/com-friendster.ungraph.txt
.vscode/
Q.md

/.benchmarkci
/benchmark/*.json
benchmark/data/com-friendster.ungraph.txt
benchmark/data/LiveJournal.txt
benchmark/res/out.csv
benchmark/out/benchmarks.csv
benchmark/.Conda/Pkg
benchmark/.CondaPkg

benchmark/out/
julia_citations.bib

